<div class="col-md-10 innerbodyScroll" id="packagingreports">
    <div class="main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12" style="padding-top: 15px;">
              <p class="showmenuname">Packaging Manuals</p>
            </div>
          </div>
          <div class="card " style="padding-top: 25px;">
            <div class="row mt-15">
              <div class="col-md-8 mt-15"></div>
              <div class="col-md-4">
              </div>
              <div class="col-md-12">
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Ruturnable Packaging Manuals</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Standard Container Sheet</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Logistics Standards</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Amortization period Calculation</p>
                  <p class="border-top"></p>
                </div>
              </div>

              <div class="col-md-12 mtop">
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Packaging Standards</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Packaging Cost Savings</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Logistics Standards</p>
                  <p class="border-top"></p>
                </div>
                <div class="col-md-3">
                  <i class="fa fa-folder" (mouseenter)="mouseEnter() " (mouseleave)="mouseLeave()" (click)="viewpdf()">
                  </i>
                  <p>Amortization period Calculation</p>
                  <p class="border-top"></p>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
 </div>
