<div class="col-md-10 innerbodyScroll" id="packagingreports">
  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12" style="padding-top: 15px;">
          <p class="showmenuname">Ruturnable Packaging Manuals</p>
        </div>
      </div>
      <div class="row">
        <div class="card maincard">
            <div class="row">
                <div class="card-body">
              <div class="col-md-8"></div>
              <div class="col-md-4 mt-15">
                <div class="input-group">
                  <div class="form-group is-empty"><input class="form-control placeholderpad" placeholder="Search.."
                      type="text"></div>
                  <div class="input-group-btn nopading">
                    <p class="search-btn" type="button">
                      <i class="fa fa-search searchicon"></i>
                    </p>
                  </div>
                </div>
              </div>
                </div>
              <div class="col-md-1 mt-15"></div>
              <div class="col-md-10 mt-15">
                <table class="table  table-striped table-bordered table-responsive table1 mt-15" id="myTable2">
                  <thead class="text-danger">
                    <tr>
                      <th> File Name</th>
                      <th>Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="cursor">
                      <td class="flex">
                        <a>
                          <i class="fa fa-file-pdf-o"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a>
                          <p class="filename">Test</p>
                        </a>
                      </td>
                      <td>
                        <a class="color">
                          Date Created:22/05/2018 01:21 PM
                        </a>
                      </td>
                    </tr>
                    <tr class="cursor">
                      <td class="flex">
                        <a>
                          <i class="fa fa-file-pdf-o"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a>
                          <p class="filename">Test2</p>
                        </a>
                      </td>
                      <td>
                        <a class="color">
                          Date Created:22/05/2018 01:21 PM
                        </a>
                      </td>
                    </tr>
                    <tr class="cursor">
                      <td class="flex">
                        <a>
                          <i class="fa fa-file-pdf-o"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a>
                          <p class="filename">Test3</p>
                        </a>
                      </td>
                      <td>
                        <a class="color">
                          Date Created:22/05/2018 01:21 PM
                        </a>
                      </td>
                    </tr>
                    <tr class="cursor">
                      <td class="flex">
                        <a>
                          <i class="fa fa-file-pdf-o"></i>
                        </a>&nbsp;&nbsp;&nbsp;
                        <a>
                          <p class="filename">Test4</p>
                        </a>
                      </td>
                      <td>
                        <a class="color">
                          Date Created:22/05/2018 01:21 PM
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <br>
              </div>
              <div class="col-md-1 mt-15"></div>

              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                  <button class="btn btn-sm" type="button" routerLink="../packaging-manuals">Back</button>
                </div>
                <div class="col-md-1"></div>
              </div>
              <br>
            </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="border-top: 1px solid #dddddd;">
      <nav class="pull-left">
      </nav>
      <p class="copyright pull-right">
          © 2019 <a class="Daimler">Daimler</a>
      </p>
  </div>
</div>