<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 simpleline"></div>
    <div class="col-md-12 perfomtab">
      <h3>Quality</h3>
      <div role="tabpanel">
        <ul id="myTab" class="nav nav-tabs bottomtabs" role="tablist">
          <li role="" class="cursor components">
            <a routerLinkActive="active" routerLink="packaging">Packaging
            </a>
          </li>
         
          <!-- <li role="" class="cursor components" >
            <a routerLinkActive="active" routerLink="pdp">Part Development
            </a>
          </li> -->
     
          <!-- <ng-container *ngIf="restrictUserid[0]"> -->
          <!-- <li role="" class="cursor components" >
            <a routerLinkActive="active" routerLink="ispr"> ISPR Claim </a>
          </li> -->
          <!-- </ng-container> -->
        </ul>
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->