<!-- aside -->
<div class="app-aside hidden-xs bg-black" id="item2">
  <div class="logomenus">
    <ul>
      <li class="cursor"><a ><img src="assets/img/homeicon.png" style="height: 20px;" title="Home"></a></li>
      <li class="sep"><i>|</i></li>
      <li class="acc-im"><a>
          <!-- <span >{{user}}</span> -->
          <span >Admin</span>
        
        </a></li>
      <li class="sep"><i>|</i></li>
      <li class="cursor"><a id="aChangePwd">Change Password</a></li>
      <li id="liPwd" class="sep"><i>|</i></li>
      <li class="cursor"><a>Feedback</a></li>
      <li class="sep"><i>|</i></li>
      <li>
        <a  class="cursor" routerLink="/login" >
          <img src="assets/img/logouticon.png"  style="height: 20px">
        </a>
      </li>
    </ul>
  </div>
  <div class="innerhead">
    <img class="innerpglogo" src="assets/img/loginpglogo.png">
    <img class="innerpgtop" src="assets/img/innerpagetopbg.jpg">
  </div>
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          &nbsp; &nbsp;
          <li style="visibility: hidden">
            <select class="form-control" id="bunitsselect" >
              <ng-container >
                <ng-container>
                  <option  ></option>
                </ng-container>
              </ng-container>
            </select>
          </li>&nbsp;&nbsp;&nbsp;
          <li>
            <a id="homepage" class="auto">
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-th-large"></i>
              <span>&nbsp;&nbsp;&nbsp;Home</span>
            </a>
          </li>
          <li id="outermodule3">
            <a id="innermodule3" class="auto">
                <!-- <li id="">
                    <a id="" routerLinkActive="active" routerLink="performance" class="auto"> -->
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-bar-chart"></i>
              <span>&nbsp;&nbsp;&nbsp;Performance</span>
            </a>
          </li>
          <li id="outermodule2">
              <a id="innermodule2" class="auto">
               
          <!-- <li id="">
            <a id="" routerLinkActive="active" routerLink="process" class="auto"> -->
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-refresh" aria-hidden="true"></i>
              <span>&nbsp;&nbsp;&nbsp;Process</span>
            </a>
          </li>
         <li id="outermodule5">
              <a id="innermodule5" class="auto"> 
           
          <!--  <li id="">
            <a id="" routerLinkActive="active" routerLink="quality" class="auto"> -->
              <span class="pull-right text-muted">
              </span>
              <i _ngcontent-c4="" class="fa fa-cubes"></i>
              <span>&nbsp;&nbsp;&nbsp;Quality</span>
            </a>
          </li>
          <li id="outermodule1">
              <a id="innermodule1"  class="auto">
          
          <!--  <li id="">
            <a id="" routerLinkActive="active" routerLink="people" class="auto"> -->
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-user" aria-hidden="true"></i>
              <span>&nbsp;&nbsp;&nbsp;People</span>
            </a>
          </li>
          <ng-container >
          <li id="outermodule4">
            <a id="innermodule4"   class="auto">

              <!-- <li >
              <a  routerLinkActive="active" routerLink="escalations" class="auto"> -->
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <span>&nbsp;&nbsp;&nbsp;Projects</span>
            </a>
          </li>
          </ng-container>
          <li id="outermodule6">
            <a id="innermodule6"  class="auto " style="cursor:pointer">
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-dropbox" aria-hidden="true"></i>
              <span>&nbsp;&nbsp;&nbsp;Delivery</span>
            </a>
          </li>
          <li>
            <a  class="auto">
              <span class="pull-right text-muted">
              </span>
              <i class="fa fa-users" aria-hidden="true"></i>
              <span>&nbsp;&nbsp;&nbsp;User Management</span>
            </a>
          </li>
          <!-- <li class="dropdown pull-right" >
            <a href="#" class="dropdown-toggle nohov" data-toggle="dropdown"><i class="fa fa-cog pull-right"
                aria-hidden="true"></i></a>
            <ul class="dropdown-menu lists">
              <li><a><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-envelope"
                    aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i (click)="logout()" class="fa fa-power-off cursor"
                    aria-hidden="true"></i></a></li>
              <li class="divider"></li>
              <li><a href="#">Supplier</a></li>
              <li><a href="#">Parameter</a></li>
              <li><a href="#">Unit </a>
              <li><a href="#">KPI </a>
              <li><a href="#">Current SRR KPI Logic </a>
              <li><a href="#">Revamp SRR KPI Logic </a>
              <li class="divider"></li>
              <li class="content"><span class="profile">{{makeapi?.username |titlecase}}<br>
                  <a href="#" style="text-decoration: underline">Change password</a></span>
                <span><img src="assets/img/user.png" alt="." width="40px" class=""></span>
              </li>
            </ul>
          </li> -->

        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</div>
<!-- / aside -->
 <!-- <div class="modal fade" id="feedback" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-transform:capitalize;">Feedback</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <textarea class="form-control" formControlName="feedback" width="100%" rows="4" placeholder="Enter Feedback...."></textarea>
            <p class="text-danger text-center">Feedback
                is invalid </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md addnew" >Submit</button>
        <button type="button" class="btn btn-md addnew" data-dismiss="modal">Cancel </button>
      </div>
    </div>
  </div>
</div> -->
